# strava_flutter specific
secret.dart
todo.txt
# temp 
starSegment.dart

.DS_Store
.dart_tool/

.packages
.pub/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
